In [1]:
import numpy as np
import pandas as pd
from matplotlib import style
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

In [2]:
style.use('ggplot')

In [3]:
df = pd.read_excel('titanic.xls')
#print(df.head())
df.drop(['body','name'], 1, inplace=True)
df.convert_dtypes()
df.fillna(0, inplace=True)
#print(df.head())

C:\Users\9syed\AppData\Local\Temp\ipykernel_15576\202296268.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['body','name'], 1, inplace=True)

In [4]:
def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            primary_elements = set(column_contents)
            x = 0
            for primary in primary_elements:
                if primary not in text_digit_vals:
                    text_digit_vals[primary] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)

In [5]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

C:\Users\9syed\AppData\Local\Temp\ipykernel_15576\2745334790.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['survived'], 1).astype(float))

0.7440794499618029

In [6]:
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,1,29.0000,0,0,773,211.3375,43,2,1,51
1,1,1,0,0.9167,1,2,537,151.5500,34,2,23,90
2,1,0,1,2.0000,1,2,537,151.5500,34,2,0,90
3,1,0,0,30.0000,1,2,537,151.5500,34,2,0,90
4,1,0,1,25.0000,1,2,537,151.5500,34,2,0,90